<form id="access_update_form" action="/accesses" method="put">
	<fieldset>
		<legend>🔑 UPDATE ACCESS</legend>
		<div>
			<label>Gardener: </label>
			<select name="gardener" id="access-gardener-selector">
				{{#each gardeners}}
				<option value="{{id}}">{{fname}} {{lname}}</option>
				{{/each}}
			</select>
		</div>
		<div>
			<label>Site: </label>
			<select name="site" id="access-site-selector">
				{{#each sites}}
				<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
	</fieldset>
</form>
<button onclick="updateAccess({{access.id}})">Update</button>
<a href="/accesses">CANCEL</a>
<script defer>selectGardener({{access.gardener}});</script>
<script defer>selectSite({{access.site}});</script>