<form action="/accesses" method="post">
	<fieldset>
		<legend>ADD NEW ACCESS FOR A GARDENER TO A SITE</legend>
		<div>
			<label>Gardener: </label>
			<select name="gardener">
				{{#each gardeners}}
				<option value="{{id}}">{{fname}} {{lname}}</option>
				{{/each}}
			</select>
		</div>
		<div>
			<label>Site: </label>
			<select name="site">
				{{#each sites}}
				<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div>
			<input class="submitInput" type="submit" value="Add Access">
		</div>
	</fieldset>
</form>


<table>
	<caption>Current Accesses</caption>
	<thead>
		<tr>
			<th>Gardener</th>
			<th>Site</th>
		</tr>
	</thead>
	<tbody>
		{{#each accesses}}
		<tr>
			<td>{{fname}} {{lname}}</td>
			<td>{{name}}</td>
            <td><button onclick="deleteAccess({{id}})">Delete</button></td>
            <td><a href="/accesses/{{id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>