<form id="bed_update_form" action="/beds" method="put">
	<fieldset>
		<legend>🌱 UPDATE {{bed.name}}</legend>
		<div>
			<label>Name: </label>
			<input type="text" name="name" value="{{bed.name}}">
		</div>
		<div>
			<label>Site: </label>
			<select name="site" id="bed-site-selector">
				{{#each sites}}
				<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div>
			<label>Length: </label>
			<input type="number" name="length" value="{{bed.length}}">
		</div>
		<div>
			<label>Width: </label>
			<input type="number" name="width" value="{{bed.width}}">
		</div>
		<div>
			<label>Location, X: </label>
			<input type="number" name="location_x" value="{{bed.location_x}}">
		</div>
		<div>
			<label>Location, Y: </label>
			<input type="number" name="location_y" value="{{bed.location_y}}">
		</div>
	</fieldset>
</form>
<button class="submitInput" onclick="updateBed({{bed.id}})">Update</button>
<a href="/beds">CANCEL</a>
<script defer>selectBedSite({{bed.site}});</script>