<h1>BedMap™ for {{site.name}}</h1>

<table>
	<caption>Current Garden Beds at {{site.name}}</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Site</th>
			<th>Length</th>
			<th>Width</th>
			<th>Location, X</th>
			<th>Location, Y</th>
		</tr>
	</thead>
	<tbody>
		{{#each beds}}
		<tr>
			<td>{{name}}</td>
			<td>{{sname}}</td>
			<td>{{length}}</td>
			<td>{{width}}</td>
			<td>{{location_x}}</td>
			<td>{{location_y}}</td>
            <td><a href="/beds/{{id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>


<canvas class="bedmapdrawing" id="myCanvas" width="{{site.width}}" height="{{site.length}}" style="border:3px solid #d3d3d3;"></canvas>
<p class="bedmapdrawing">1 pixel = 1 unit of length</p>

<script async=false>
	var c = document.getElementById("myCanvas");
	{{#each beds}}
	var ctx{{id}} = c.getContext("2d");
	ctx{{id}}.rect({{location_x}}, {{location_y}}, {{width}}, {{length}});
	ctx{{id}}.stroke();
	{{/each}}
</script>