<form action="/gardeners" method="post">
	<fieldset>
		<legend>ADD NEW GARDENER</legend>
		<div>
			<label>First Name: </label>
			<input type="text" name="fname">
		</div>
		<div>
			<label>Last Name: </label>
			<input type="text" name="lname">
		</div>
		<div>
			<input type="submit" value="Add Gardener">
		</div>
	</fieldset>
</form>

<table>
	<caption>Current Gardeners</caption>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		{{#each gardeners}}
		<tr>
			<td>{{fname}}</td>
			<td>{{lname}}</td>
            <td><button onclick="deleteGardener({{id}})">Delete</button></td>
			<!--
			<td><button onclick="deletePerson({{id}})">DELETE{{id}}</button></td>
			<td><a href="gardener_update.html">UPDATE{{id}}</a></td>
			-->
		</tr>
		{{/each}}
	</tbody>


	<!--
	<tr>
		<td>David</td>
		<td>Wiens</td>
		<td><button onclick="deletePerson({{id}})">DELETE</button></td>
		<td><a href="gardener_update.html">UPDATE</a></td>
	</tr>
	<tr>
		<td>Jim</td>
		<td>Foo</td>
		<td><button onclick="deletePerson({{id}})">DELETE</button></td>
		<td><a href="gardener_update.html">UPDATE</a></td>
	</tr>
	-->
</table>