<form action="/sites" method="post">
	<fieldset>
		<legend>ADD NEW SITE</legend>
		<div>
			<label>Name: </label>
			<input type="text" name="name">
		</div>
		<div>
			<label>Length (m): </label>
			<input type="number" name="length">
		</div>
		<div>
			<label>Width (m): </label>
			<input type="number" name="width">
		</div>
		<fieldset>
			<legend>Address</legend>
			<div>
				<label>Street: </label>
				<input type="text" name="addr_street">
			</div>
			<div>
				<label>City: </label>
				<input type="text" name="addr_city">
			</div>
			<div>
				<label>State: </label>
				<input type="text" name="addr_state">
			</div>
			<div>
				<label>ZIP: </label>
				<input type="text" name="addr_zip">
			</div>
		</fieldset>
		<div>
			<input class="submitInput" type="submit" value="Add Site">
		</div>
	</fieldset>
</form>


<table>
	<caption>Current Sites</caption>
	<thead>
		<tr>
			<th>Name</th>
			<th>Length (m)</th>
			<th>Width (m)</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>ZIP</th>
		</tr>
	</thead>
	<tbody>
		{{#each sites}}
		<tr>
			<td>{{name}}</td>
			<td>{{length}}</td>
			<td>{{width}}</td>
			<td>{{addr_street}}</td>
			<td>{{addr_city}}</td>
			<td>{{addr_state}}</td>
			<td>{{addr_zip}}</td>
            <td><button onclick="deleteSite({{id}})">Delete</button></td>
            <td><a href="/sites/{{id}}">Update</a></td>
		</tr>
		{{/each}}
	</tbody>
</table>