<form id="site_update_form" action="/sites" method="put">
	<fieldset>
		<legend>🏡 UPDATE {{site.name}}</legend>
		<div>
			<label>Name: </label>
			<input type="text" name="name" value="{{site.name}}">
		</div>
		<div>
			<label>Length: </label>
			<input type="number" name="length" value="{{site.length}}">
		</div>
		<div>
			<label>Width: </label>
			<input type="number" name="width" value="{{site.width}}">
		</div>
		<fieldset>
			<legend>Address</legend>
			<div>
				<label>Street: </label>
				<input type="text" name="addr_street" value="{{site.addr_street}}">
			</div>
			<div>
				<label>City: </label>
				<input type="text" name="addr_city" value="{{site.addr_city}}">
			</div>
			<div>
				<label>State: </label>
				<input type="text" name="addr_state" value="{{site.addr_state}}">
			</div>
			<div>
				<label>ZIP: </label>
				<input type="text" name="addr_zip" value="{{site.addr_zip}}">
			</div>
		</fieldset>
	</fieldset>
</form>
<button onclick="updateSite({{site.id}})">Update</button>
<a href="/sites">CANCEL</a>